<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Dino con IA</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <canvas id="game" width="950" height="200"></canvas>
    <canvas id="nn-canvas" width="600" height="360"></canvas>

    <!-- IA primero, luego juego -->
    <script src="{{ url_for('static', filename='js/ai.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <div id="legend" class="legend-box" style="display: none;">
        <p><strong>Leyenda (Red Neuronal)</strong></p>
        <ul style="list-style-type: none; padding-left: 0;">
            <li><span style="color: blue;">●</span> Peso positivo (línea azul)</li>
            <li><span style="color: red;">●</span> Peso negativo (línea roja)</li>
            <li><span style="color: black;">●</span> Activación nula (nodo negro)</li>
            <li><span style="color: green;">●</span> Activación positiva (nodo verde)</li>
            <li><span style="color: brown;">●</span> Activación negativa (nodo rojo)</li>
        </ul>
    </div>

</body>

</html>